.control__other-commands-title {
    border-top: 1px solid #8d8d8d;
    margin: 20px auto 0;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}