@keyframes shadow {
    0% {
        box-shadow: 0px 2px 4px 1px;
    }
    14.3% {
        box-shadow: -2px 2px 4px 1px;
    }
    28.6% {
        box-shadow: -2px 0px 4px 1px;
    }
    42.9% {
        box-shadow: -2px -2px 4px 1px;
    }
    57.2% {
        box-shadow: 0px -2px 4px 1px;
    }
    71.5% {
        box-shadow: 2px -2px 4px 1px;
    }
    85.8% {
        box-shadow: 2px 0px 4px 1px;
    }
    100% {
        box-shadow: 2px 2px 4px 1px;
    }
}

.buttons {
    margin: 0;
    padding: 0 5px;
    font-size: 16px;
    /* max-width: 95px; */
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0px 0px 4px 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.buttons:hover {
    animation: shadow .8s linear infinite;
}

.buttons:active {
    transform: scale(.8);
}

@media screen and (max-width: 540px) {
    .buttons {
        font-size: 12px;
    }
}
