.joystick {
    /*margin: 5px;*/
    padding: 0px;
    width: 3em;
    text-overflow: none;
}

table.control__tel {
    text-align: end;
}
.control__tel td {
	padding: 5px 5px;
}

@media screen and (max-width: 880px) {
	table.control__tel {
		font-size: 12px;
	}
	.control__tel td {
		padding: 5px 2px;
		font-size: 12px;
	}
	table.control__tel input {
		font-size: 12px;
	}
	table.control__tel button {
		font-size: 12px;
	}
}

@media screen and (max-width: 430px) {
	table.control__tel {
		font-size: 10px;
                font-weight: normal;
	}
	.control__tel td {
		padding: 5px 2px;
		font-size: 10px;
                font-weight: normal;
	}
	table.control__tel input {
		font-size: 10px;
                font-weight: normal;
	}
	table.control__tel button {
		font-size: 10px;
                font-weight: normal;
	}
}
