.errors {
    display: flex;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
    p {
        font-size: 12px;
        font-weight: normal;
    }
}

@media screen and (max-width: 420px) {
    p {
        font-size: 10px;
    }
}


.errors__flash {
    margin: 2px auto;
    padding: 0;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgb(90, 0, 0);
}

.errors__flash_active {
    background-color: rgb(219, 0, 0);
}

.errors__row {
    width: 100%;
    height: 20px;
    margin: 2px;
}

.errors__table {
    width: 100%;
    text-align: center;
    border: 1px solid grey;
}
