.color-dark {
	background-color: rgb(32, 32, 32);
	color: rgb(128, 128, 128);
}

.color-dark button {
	background-color: rgb(48, 48, 48);
	color: rgb(128, 128, 128);
}
.color-dark input {
	background-color: rgb(48, 48, 48);
	color: rgb(128, 128, 128);
}

.color-dark .disabled {
	color: rgb(64, 64, 64);
}

.color-dark .cam__nav, .color-dark .control__nav {
	background-color: rgb(48, 48, 48);
}
.color-dark .control__title, .color-dark .cam__title {
	background-color: rgb(64, 64, 64);
	color: rgb(0, 0, 0);
}
.color-dark .active {
	background-color: rgb(32, 32, 32);
	color: rgb(128, 128, 128);
}


.color-light {
	background-color: rgb(216, 216, 216);
	color: rgb(0, 0, 0);
}

.color-light button {
	background-color: #f0f0f0;
	color: rgb(0, 0, 0);
}
.color-light input {
	background-color: #f0f0f0;
	color: rgb(0, 0, 0);
}

.color-light .disabled {
	color: rgb(150, 150, 150);
}

.color-light .cam__nav, .color-light .control__nav {
	background-color: rgb(150, 150, 150);
}
.color-light .control__title, .color-light .cam__title {
	background-color: rgb(150, 150, 150);
	color: rgb(0, 0, 0);
}
.color-light .active {
	background-color: rgb(216, 216, 216);
	color: rgb(0, 0, 0);
}
