.main {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
}