.status {
    display: flex;
    width: 35%;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    max-width: 450px;
}
@media screen and (max-width: 650px) {
    .status {
	width: 100%;
	max-width: 100%;
    }
}
