.header {
    display: flex;
    /*flex-direction: column;*/
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    color: rgb(224, 224, 224);
    width: 100%;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    background-image: url(../../image/HXPer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}
.header #b_color_theme {
    width: auto;    
    cursor: pointer;
}

.header__text {
    font-size: 40px;
    line-height: 1.15;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.header__subtext {
    font-size: 20px;
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 10px 0 0 0;
}

@media screen and (max-width: 600px) {
    .header__subtext {
        font-size: 16px;
    }
}
@media screen and (max-width: 430px) {
    .header__subtext {
        font-size: 12px;
        padding: 0;
    }
    .header__text {
        font-size: 30px;
    }
}
