.control_cell_one {
    grid-area: one;
}

.control_cell_two {
    grid-area: two;
}

.control_cell_three {
    grid-area: three;
}

.control_cell_four {
    grid-area: four;
}

.control_cell_five {
    grid-area: five;
}

