.control {
    display: flex;
    width: calc(65% - 15px);
    flex-direction: column;
    padding-bottom: 10px;
    box-sizing: border-box;
    position: relative;
    min-width: calc(100% - 465px);
}
@media screen and (max-width: 650px) {
    .control {
	width: 100%;
    }
}
@media screen and (min-width: 1500px) {
    .control {
	flex-direction: row;
    }
}
