.backgrnd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /*max-width: 1024px;*/
    width: 100%;
    height: 100%;
    margin: 0 10px;
    padding: 0;

    background-color: rgb(216, 216, 216);
    color: rgb(0, 0, 0);

    /* background-image: url(../../image/sintez_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
}


/* .backgrnd::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
} */