.main-control {
    display: block;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}
@media screen and (min-width: 1500px) {
    #block_telescope {
	width: 58%;
    }
    #block_dome {
	width: 40%;
    }
}

.main-control_hide {
    display: none;
}
@media screen and (min-width: 1500px) {
    .main-control_hide {
	display: block;
    }
}
