.status__title {
    display: flex;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
}