.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(95, 95, 95, 0.3);
    position: relative;
}

.footer__copyright {
    display: block;
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, .9);
    margin: 0 auto;
}